<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tmi A. Hieta{% endblock %}</title>
    <link rel=stylesheet href="{{ url_for('static', filename='fontello.css') }}" />
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" />
    <link rel=stylesheet  media="screen and (min-width: 960px)"
        href="{{ url_for('static', filename='style-wide.css') }}" />
    <link rel=stylesheet media="screen and (max-width: 959px) and (min-width: 720px)"
        href="{{ url_for('static', filename='style-medium.css') }}" />
    <link rel=stylesheet media="screen and (max-width: 719px)"
        href="{{ url_for('static', filename='style-narrow.css') }}" />
</head>
<body>
    <div id="wrapper">
        <header id="main-header">
            <h1><a href="/">Tmi A. Hieta</a></h1>
            <hr />
        </header>

        <div id="content-wrapper">
            <nav id="main-nav">
                <ul>
                    {% for n in page.nav %}
                        <li><a href="/page/{{ n.link }}" {% if n.icon %}class="icon-{{ n.icon }}"{% endif %}>{{ n.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div id="main-content">
                {% block content %}{% endblock %}
            </div>
            <div id="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>

        <hr />

        <footer id="main-footer">
            <p>&copy; A. Hieta 2014.<br />
            <a class="icon-mail-alt" title="Ota yhteyttä" href="mailto:aatu@hieta.fi">aatu@hieta.fi</a>
            </p>
        </footer>
    </div>
</body>
</html>