@font-face {
  font-family: 'fontello';
  src: url('/static/fontello.eot?25805494');
  src: url('/static/fontello.eot?25805494#iefix') format('embedded-opentype'),
       url('/static/fontello.woff?25805494') format('woff'),
       url('/static/fontello.ttf?25805494') format('truetype'),
       url('/static/fontello.svg?25805494#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25805494#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  color: #FF8000;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-alt:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e824'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star-half:before { content: '\e804'; } /* '' */
.icon-star-half-alt:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-female:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-unlink:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-attach:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-lock-open:before { content: '\e815'; } /* '' */
.icon-pin:before { content: '\e816'; } /* '' */
.icon-tags:before { content: '\e817'; } /* '' */
.icon-bookmark:before { content: '\e818'; } /* '' */
.icon-download:before { content: '\e819'; } /* '' */
.icon-quote-left:before { content: '\e81a'; } /* '' */
.icon-quote-right:before { content: '\e81b'; } /* '' */
.icon-code:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-print:before { content: '\e81e'; } /* '' */
.icon-attention-alt:before { content: '\e820'; } /* '' */
.icon-attention:before { content: '\e81f'; } /* '' */
.icon-trash:before { content: '\e821'; } /* '' */
.icon-doc:before { content: '\e822'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-link-ext:before { content: '\e812'; } /* '' */