body {
    font-size: 24px;
}

#wrapper {
    margin    : 0.5em auto;
    width     : 40em;
}

#content-wrapper {
    padding: 1em 1em;
    width: 38em;
}

#main-content {
    width: 29em;
    float: left;
}

#sidebar {
    float: right;
    width: 8em;
}

#main-nav {
    float: right;
}

#main-nav>ul>li>a {
    width: 7em;
}

#main-nav>ul>li:hover>a {
    width: 7em;
    position: relative;
    left: 2em;
}

#main-nav>ul>li:hover {
    width: 9em;
    position: relative;
    top: -0.1em;
    left: -2em;
}

#main-nav>ul>li:hover:before {
    content: '\e818';
    font-family: 'fontello';
    color: #FF8000;
    background: #222;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    position: absolute;
    left: -0.1em;
    text-align: center;
    border: 0.1em solid #FF8000;
    border-right: none;
}