@font-face {
    font-family: 'ac';
    src        : url('/static/ac.otf');
}

@font-face {
    font-family: 'amiro';
    src        : url('/static/amiro.ttf');
}

body {
    width     : 100%;
    min-height: 100%;
    background: #222;
    padding   : 0;
    margin: 0;
    color: #222;
    font-family: 'amiro';
    font-size: 24px;
}

#wrapper {
    background: #EFEEED;
    outline    : 0.2em solid #808080;
    border: 0.1em solid #FF8000;
}

hr {
    border: none;
    border: 2px solid #808080;
    border-bottom: 2px solid #FF8000;
    padding: 0;
    text-align: center;
    height: 0;
    margin: 0;
}

hr:after {
    font-family: 'fontello';
    content: '\e818';
    display: inline-block;
    position: relative;
    top: -0.5em;
    font-size: 1.5em;
    padding: 0 0.25em;
    text-shadow: 2px 2px 0 #FF8000;
    z-index: 9001;
}

#main-header>h1 {
    text-align : center;
    font-family: 'ac';
    font-size: 6em;
    line-height: 1em;
    padding: 0;
    margin: 0.3em 0;
    text-shadow: 4px 4px 0 #FF8000;
}

#main-header>h1>a {
    color: #222;
    text-decoration: none;
}

#content-wrapper {
    padding: 1em 1em;
}

#content-wrapper:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: ' ';
     clear: both;
     height: 0;
}

#main-content {
    float: left;
}

#sidebar {
    float: right;
}

#main-nav {
    float: right;
    margin: 0;
    padding: 0;
    border: 0.1em solid #FF8000;
    width: 8em;
}

#main-nav>ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main-nav>ul>li {
    width: 100%;
    height: 2em;
}

#main-nav>ul>li>a {
    color: #EFEEED;
    background: #222;
    text-decoration: none;
    display: inline-block;
    height: 1em;
    padding: 0.5em;
    margin: 0;
}

#main-nav>ul>li:hover>a {
    background: #EFEEED;
    color: #222;
    border-top: 0.1em solid #FF8000;
    border-bottom: 0.1em solid #FF8000;
}

#main-footer {
    background: #333;
    color: #222;
    margin: 0;
    height: 9em;
    padding: 1em;
    text-shadow: -1px -1px 0 #000,
                  1px  1px 0 #444;
    text-align: center;
}

#main-footer a:hover {
    color: #aaa;
}

a {
    color: #FF8000;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

#main-content a:hover:after {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-left: .2em;
    text-align: center;
    color: #FF8000;
    content: '\e812';
    height: 1em;
}

#main-content a:hover {
    margin-right: -1.55em;
    background: #aaa;
    z-index: 9002;
    position: relative;
    padding: 0.2em;
    left: -0.2em;
    box-shadow: 1px 1px 1px #222;
    border-radius: 0.1em;
}

a.icon-mail-alt {
    text-decoration: none;
}

#main-content>article>h1 {
    font-family: 'ac';
    color: #FF8000;
    font-size: 3em;
    line-height: 1em;
    padding: 0;
    margin: 8px 0;
    text-shadow: 4px 2px 0 #222;
}

