body {
    font-size: 24px;
}

#wrapper {
    margin    : 0;
    width     : 100%;
}

#content-wrapper {
    width: 100%;
    padding: 1em 1em;
}

#main-content, #sidebar, #main-nav {
    width: 80%;
    float: none;
    margin: 0 auto;
}

#main-nav>ul>li>a {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#main-nav>ul>li {
    display: inline;
    width: 25%;
    margin: 0;
    padding: 0;
}